html,
body {
    height: 100%;
    width: 100%;
    font-size: 15px;
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

@media (max-width: 840px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 530px) {
    body {
        font-size: 7px;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    perspective-origin: 111% 1129px;
}

a {
    color: #07a;
}

#note {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 150px;
    width: 150px;
    padding: 15px;
    font-size: 14px;
    box-shadow: 5px 5px 7px #e3e3b6;
    transition: transform .15s linear;
    transform: rotate(-6deg);
    font-family: monospace;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#scene {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-wrap: wrap;

    &--animating {
        > .figure > .cube {
            animation: rotating .8s ease-in-out alternate;    
        }
    }
}

.figure {
    position: relative;
    margin-left: .1em;
    margin-right: .1em;
}

.cube {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 1em;
    height: 1em;

    > .cube__side {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        font-weight: bold;
        color: white;
        text-align: center;
        box-sizing: border-box;

        &.cube__side--front {
            //opacity: .2;
            transform: translateZ(.5em);
        }

        &.cube__side--back {
            //opacity: .1;
            transform: rotateX( -180deg ) translateZ(.5em);
        }

        &.cube__side--right {
            filter: brightness(85%);
            transform: rotateY( 90deg ) translateZ(.5em);
        }

        &.cube__side--left {
            filter: brightness(85%);
            transform: rotateY( -90deg ) translateZ(.5em);
        }

        &.cube__side--top {
            filter: brightness(85%);
            transform: rotateX( 90deg ) translateZ(.5em);
        }

        &.cube__side--bottom {
            filter: brightness(85%);
            transform: rotateX( -90deg ) translateZ(.5em);
        }
    }
}

@keyframes rotating 
{
    from
    {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to
    {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}